@font-face {
  font-family: Prompt;
  src: url(../fonts/Prompt/Prompt-SemiBold.ttf);
}

@font-face {
  font-family: Telex;
  src: url(../fonts/Telex/Telex-Regular.ttf);
}

@font-face {
  font-family: Varela;
  src: url(../fonts/Varela/Varela-Regular.ttf);
}

.categories-container {
  margin: 18px 18px;
  padding: 0 1rem;
  font-family: Telex;
}

.categories-scroll {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-bottom: 0.5rem;
}

.categories-scroll::-webkit-scrollbar {
  display: none;
}

.category-item {
  flex: 0 0 226px; 
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-bottom: 2px solid #00000071;
  border-right: 2px solid #00000071;
  border-radius: 8px;
  background: #404040;
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem;
  white-space: normal;
  font-family: Telex;
}

.category-item:hover {
  border-color: #000;
  background-color: #a899c0;
  transform: translateY(-2px);
}

.category-item.active {
  background: #945ACB;
  color: white;
  border-color: #000;
}